html, body {
	margin:0px;
	padding:0;
	overflow-y: hidden;
	overflow-x: hidden;
}

* {
	image-rendering: pixelated;
	background-color:black;
	color:white;
}

#game-container{
	display: block;
	height: 100vh;
}

#canvas-container {
	margin:0px;
	display: inline-block;
	transform-origin: top left;
	transform: scale(8, 8);
	flex-shrink: 0;
}